
@import "global.scss";

body{
    background-color: rgb(104, 45, 45);
}
section{
    margin-top: 20px;
    width: 100%;
    @include flexColumnCenter();
    gap: 20px;

    .post {
        width: 20%;
        background-color: bisque;
        text-align: center;
        @include flexColumnCenter();
        gap: 20px;
        img{
            border-radius: 50%;
        }
        .content{
            padding: $postSpacing;
            @include flexColumnCenter();
            gap: 20px;
            p{
                color: cadetblue;
                font-size: xx-large;
            }
            #btnRojo{
                @include btnPost(#252525);
            }
        }
    }
}